@import url("https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "REM", sans-serif;
  src: url("../font/Ramabhadra-Regular.ttf") format("truetype");
  src: url("../font/REM-VariableFont_wght.ttf") format("truetype");
  src: url("../font/REM-Italic-VariableFont_wght.ttf") format("truetype");
}

body {
  font-family: "REM", sans-serif;
}

/* Header  */
header {
  font-weight: 500;
}
.cart_btn:hover {
  background-color: rgb(255, 237, 100);
  transition: 0.3s;
  button {
    background-color: rgb(255, 237, 100);
    transition: 0.3s;
  }
}
.active_page {
  background-color: #895f53;
  content: "";
  height: 2px;
  width: 45px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}
.underline_page {
  background-color: #895f53;
  content: "";
  height: 2px;
  width: 0px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  transition: 0.2s;
}
#menu li:hover .underline_page {
  width: 45px;
}
.search_type_pro {
  display: block;
}
.search_type_pro li {
  visibility: hidden;
}
.search_type_pro:hover li {
  visibility: visible;
}
@media screen and (max-height: 440px) and (max-width: 767px) {
  .first_menuItem {
    margin-top: 200px;
  }
}

/* Hero  */
.vertical_line {
  width: 10px;
  height: 140px;
  background: #895f53;
}
.video_background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
#hero_img_1 {
  transition: 0.7s;
  margin: auto;
}

.cursor_cus {
  display: none;
  position: fixed;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transform: translate(-70%, -50%);
}

.line {
  background-color: #895f53;
  content: "";
  height: 3px;
  width: 50px;
  margin-top: 10px;
}

.line_sm {
  background-color: #895f53;
  content: "";
  height: 1px;
  width: 40px;
}

.logo_container {
  font-weight: bold;
}

.custom_banner {
  z-index: -1;
}

/* About */
#about img {
  transition: 0.9s;
}
#about img:hover {
  scale: 1.02;
  transition: 0.5s;
  box-shadow: 4px 5px 15px rgba(29, 29, 29, 0.786);
}
.second_img {
  display: none;
}
@media screen and (max-width: 1250px) and (min-width: 1024px) {
  #about {
    p {
      margin-top: 40px;
    }
    .second_img {
      margin-top: 40px;
      display: block;
    }
    .counter_contain {
      margin-top: 40px;
    }
    .first_img {
      display: none;
    }
    .icon_contact_contain {
      margin-top: 400px;
    }
  }
}

/* Top user  */
.wrapper {
  max-width: 1100px;
  position: relative;
}
.wrapper i {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active {
  transform: translateY(-50%) scale(0.85);
}
.wrapper i:first-child {
  left: -22px;
}
.wrapper i:last-child {
  right: -22px;
}
.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 4) - 12px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel.no-transition {
  scroll-behavior: auto;
}
.carousel.dragging {
  scroll-snap-type: none;
  scroll-behavior: auto;
}
.carousel.dragging .card {
  cursor: grab;
  user-select: none;
}
.carousel :where(.card, .img) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel .card {
  scroll-snap-align: start;
  height: 342px;
  list-style: none;
  background: #fff;
  cursor: pointer;
  padding-bottom: 15px;
  flex-direction: column;
  border-radius: 8px;
}
.carousel .card .img {
  height: 148px;
  width: 148px;
  border-radius: 50%;
  transition: 0.5s;
}
.carousel .card:hover {
  .img {
    scale: 1.1;
  }
}
.card .img img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #fff;
}
.carousel .card h2 {
  font-weight: 500;
  font-size: 1.56rem;
  margin: 0px 0 5px;
}
.carousel .card p {
  color: #70786a;
  font-size: 0.8rem;
}
.option_contain{
  position: absolute;
  
}
.carousel .card:hover {
  .card_option{
    display: flex; 
    flex-direction: column;
    box-shadow: -5px 3px 10px 5px rgba(0, 0, 0, 0.138);
  }
  background-color: lightgray;
}
.card_option {
  width: 30%;
  height: 100px;
  text-align: center;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  color: rgb(53, 53, 53);
}

@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 3) - 9px);
  }
}

@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 520px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}

#maker {
  position: relative;
}
.slider {
  position: relative;
  max-width: 100vw;
  margin: auto;
  overflow: hidden;
}
.slider .list {
  position: absolute;
  width: max-content;
  height: 100%;
  left: 0;
  top: 0;
  display: flex;
  transition: 1s;
}
.slider .list img {
  width: 100px;
  max-width: 100vw;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin: 13px;
}
#maker .buttons {
  position: absolute;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  top: 53%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#maker .buttons button {
  color: white;
  border: none;
  font-family: monospace;
  font-weight: bold !important;
}
.slider .dots {
  position: absolute;
  bottom: 10px;
  left: 0;
  color: #fff;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.slider .dots li {
  list-style: none;
  width: 10px;
  height: 10px;
  background-color: #fff;
  margin: 10px;
  border-radius: 20px;
  transition: 0.5s;
}
.slider .dots li.active {
  width: 30px;
}
@media screen and (min-width: 768px) {
  .slider .list img {
    width: 200px;
    max-width: 100vw;
    height: 200px;
    object-fit: cover;
    margin: 12px;
  }
}

/* Product  */
.under_nav_pro {
  content: "";
  height: 1.5px;
  width: 0;
  border-radius: 1px;
  margin: auto;
  background-color: #895f53;
  transition: 0.2s;
}

.nav_product li:hover .under_nav_pro {
  width: 90%;
  transition: 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav_product li {
  transition: 0.6s;
}

.nav_product li:hover {
  color: #a57e74;
  transition: 0.5s;
}

.cost_pro {
  transition: 0.4s;
}

.pro_container:hover {
  background-color: #895f5369;
  color: white;
  transition: 0.4s;
  align-items: center;

  .cost_pro {
    color: black;
    transition: 0s;
  }
}

.pro_container {
  transition: 0.4s;
  cursor: pointer;
  position: relative;
  img {
    transition: 0.4s;
  }
  h3 {
    cursor: default;
  }
  .cost_pro {
    cursor: default;
  }
  .maker {
    cursor: default;
  }
}

.pro_container:hover img {
  transform: translate(0, -50px);
  transition: 0.6s;
  box-shadow: 0px 3px 5px rgba(29, 29, 29, 0.786);
  cursor: pointer;
}

.pro_container img:hover {
  scale: 1.2;
}

@media screen and (min-width: 768px) {
  .pro_container:hover img {
    transform: translate(0, -100px);
  }
}

.pro_container:hover .cost_pro {
  transform: translate(0, 90px);
  transition: 0.6s;
  box-shadow: 0px 3px 5px rgba(29, 29, 29, 0.786);
  background-color: rgb(255, 255, 94) !important;
}

.option_1 {
  position: absolute;
}

.pro_container:hover .option_1 {
  visibility: visible;
}

.pro_container:hover .option_2 {
  visibility: visible;
}

.cursor_pro {
  display: none;
  position: fixed;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

/* Service */
#service .service_contain {
  transition: 0.5s;
  .iconBox {
    transition: 0.5s;
  }
  p {
    transition: 0.5s;
  }
}
.service_contain:hover {
  background-color: #895f53;
  transition: 0.5s;
  .iconBox {
    background-color: white;
    i {
      color: #895f53;
    }
  }
  p {
    color: white;
  }
}

/* End page */
#greeting .img_exp img{
  transition: 0.7s;
}
.img_exp:hover img{
  scale: 1.05;
  transition: 0.5s;
}


.cursor_top {
  /* display: none; */
  position: fixed;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: #FFC58F;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.204);
  color: white;
  bottom: 5%;
  right: 5%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}